
html {
  font-size: 0.8rem;
}

body {
  font-size: 1.2rem;
}

.questionnaire_page {
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
  text-align: -webkit-center;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
}

.form-group.shiny-input-container:first-of-type {
    padding-top: 20px;
}

.form-control {
  font-size: 1.2rem;
}

.questionnaire_desc {
  background-color: #d7d5d5e6;
  border-radius: 15px;
  padding: 20px;  
}

.questionnaire_desc > .progress-group {
  width: 90%;
}

.quetzio_submit {
  color: #fff !important;
  background-color: #646f78 !important;
  border-color: #555 !important;
  width: 250px !important;
}

.progress-bar {
  background-color: #647a8d;
}

hr {
  border-top: 1px solid #5c627470;
}

.progress-text {
    font-style: italic;
}

.likert-input-radio-min, .likert-input-radio-max {
    background-color: #9792925e;
    font-size: 0.9rem;
}

.likert-input-radio-label {
  font-size: 0.8rem;
}


#getTogethR_module_form .quetzio_description li {
    text-align: left !important;
}

#getTogethR_module_form .quetzio_description {
      padding-bottom: 10px !important;
}


