
html {
  font-size: 0.8rem;
}

body {
  font-size: 1.2rem;
}

.questionnaire_page {
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
  text-align: -webkit-center;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
}

.form-group.shiny-input-container:first-of-type {
    padding-top: 20px;
}

.form-control {
  font-size: 1.2rem;
}

.questionnaire_desc {
  background-color: #d7d5d5e6;
  border-radius: 15px;
  padding: 20px;  
}

.questionnaire_desc > .progress-group {
  width: 90%;
}

.quetzio_submit {
  color: #fff !important;
  background-color: #646f78 !important;
  border-color: #555 !important;
  width: 250px !important;
}

.progress-bar {
  background-color: #647a8d;
}

hr {
  border-top: 1px solid #5c627470;
}

.progress-text {
    font-style: italic;
}

.likert-input-radio-min, .likert-input-radio-max {
    background-color: #9792925e;
    font-size: 0.9rem!important;
}

.likert-input-radio-label {
  font-size: 0.8rem;
}


#getTogethR_module_form .quetzio_description li {
    text-align: left !important;
}

#getTogethR_module_form .quetzio_description {
      padding-bottom: 10px !important;
}

.dark-mode body {
  color: #ddd;
  background-color: #333;
}

.dark-mode .questionnaire_page {
  background-color: #4a4d54;
}

.dark-mode .questionnaire_desc {
  background-color: #333;
}

/*
.dark-mode .navbar-nav>li>a {
  color: #f5f5f5;
} */

.dark-mode .navbar-default .navbar-nav>.active>a, 
.dark-mode .navbar-default .navbar-nav>.active>a:focus, 
.dark-mode .navbar-default .navbar-nav>.active>a:hover {
    color: #ddd3d3;
    background-color: #4a4d54;
}

.dark-mode .navbar-nav>li>a:hover {
    color: white;
}

.dark-mode .selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #333;
}

.dark-mode .selectize-input.full {
  background-color: #333;
}

.dark-mode .selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #666666;
    color: #ddd;
    border: 0 solid rgba(0, 0, 0, 0);
}

/*.dark-mode .selectize-dropdown,*/
.dark-mode .selectize-dropdown.form-control {
    background: #333 !important;
    color: white;
}

.dark-mode .form-control:not(.selectize-control) {
  color: white;
  background-color: #333 !important;
}

.dark-mode .modal-content {
  background-color: #262424;
}

.dark-mode .btn-default {
  background-color: #30303a;
  color: white;
}

.dark-mode .form-control:focus {
  border-color:#746c6c !important;
}

.dark-mode .selectize-input.focus {
  border-color:#746c6c !important;
}

.dark-mode .quetzio_submit {
    color: #fff !important;
    background-color: #333333 !important;
    border-color: #555 !important;
    width: 250px !important;
}

.dark-mode .selectize-dropdown, 
.dark-mode .selectize-input, 
.dark-mode .selectize-input input {
    color: white;
}
